[defaults]
inventory = inventories/inventories
remote_user = osama
private_key_file = ~/.ssh/id_rsa
host_key_checking = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r

